.transition {
    margin: 1em;
    background-color: #91f1f1;
    color: aliceblue;
    width: 5em;
    height: 5em;
    transition: width 2s, height 2s, transform 2s;
}

.transition:hover {
    width: 10em;
    height: 10em;
    transform: rotate(360deg);
}

@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

.animation {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation: example 4s ease infinite alternate;
}